<h1>Homepage</h1>


<h2><%= link_to "Blog Posts", blogs_path %></h2>

<%= @blogs.inspect %>

<h2>Skills</h2>

<%= @skills.inspect %>

<h2><%= link_to "Portolio Projects", portfolios_path %></h2>

<%= @portfolios.inspect %>
